body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom left, #e0f7ff, #ffffff);
}

.header-prc {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 85px;
    width: 100%;
    background-color: #2118CD;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    justify-content: space-around;
}

.logo {
    width: 250px;
}

.search-bar {
    flex: 2;
    text-align: center;
}

.search-bar input {
    width: 300px;
    height: 15px;
    padding: 8px;
    border-radius: 9.75px;
    border: 1px solid #ccc;
}

.links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 250px;
    margin-top: 15px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 30px;
}

.d-flex {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    height: 100vh;
    width: 250px;
}

.sidebar-header h4 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: none;
}

.components {
    padding-left: 0;
}

.components hr {
    margin: 10px 0;
    border-color: black;
}

#sidebar .components a {
    color: #343a40;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    font-weight: 500;
    text-align: center;
}

#sidebar .components a:hover, 
#sidebar .components a.active {
    background-color: #2118CD;
    color: #fff;
    border-radius: 5px;
}

/* Conteúdo principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

.container {
    width: 100%;
    height: 100%;
}

.encima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
}

.enbaixo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
}

.enbaixo img {
    max-width: 45%;
    height: auto;
    width: 400px;
}

#pesquisa {
    margin-top: 50px;
    width: 900px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
}

#titulo {
    font-size: 40px;
}

p {
    display: flex;
    justify-content: center;
}

hr {
    color: black;
}

.logo {
    width: 250px;
}

.header-prc .links span {
    color: white; /* Define a cor do texto como branco */
}
/* Centralizar o modal */
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima da tela */
}
