@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", system-ui;
    background: #E6E6E6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.interface {
    max-width: 1280px;
    margin: auto;
    align-items: center; /* Centraliza os itens do header verticalmente */
    justify-content: space-between; /* Espaça os elementos igualmente */
}

.flex {
    margin-top: 100px;
    display: flex;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Espaçamento entre os itens */
}

/* Ajuste no tamanho da fonte dos itens do menu */
header nav ul li a {
    font-size: 18px; /* Tamanho da fonte dos itens do menu */
}

.btn-contato button {
    padding: 10px 70px;
    font-size: 18px;
    font-weight: 600;
    background-color: green;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: white;
}

/* Estilo do cabeçalho */
.logo img {
    width: 200px; /* Ajuste da largura da logo */
    margin-left: -20px;
    align-items: center;
    padding-top: 10px;
    gap: 15px; /* Ajusta a distância entre o botão e a logo */
    padding-top: 10px; 
    display: flex;
    margin-left: 100px;
}

header {
    position: fixed; /* Torna o cabeçalho fixo */
    top: 0; /* Posiciona o cabeçalho no topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total */
    z-index: 1000; /* Garante que fique acima do conteúdo */
    padding: 20px 4%; /* Diminui o padding para reduzir a altura */
    background-color: #2118CD; /* Fundo sólido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona a sombra */
  
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: yellow;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
    display: flex; /* Exibe os itens na horizontal */
}

header nav ul li {
    padding: 0 20px; /* Ajusta o espaçamento entre os itens */
}

.btn-contato {
    display: flex; /* Garante que o botão esteja na mesma linha */
    align-items: center;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

header .info ul li a {
    display: flex;
    flex-direction: row;
}

.informacoes a {
    margin-right: 20px;
}



.header-prc .links span {
    color: white; /* Define a cor do texto como branco */
}

h1{
    text-align: center; /* Centraliza o texto */
    margin: 20px auto; /* Espaçamento automático nas laterais e superior/inferior */
    font-size: 18px; /* Ajuste o tamanho da fonte, se necessário */
}

.topo {
    background-color: #2118CD;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; /* Usa flexbox para os elementos filhos */
    align-items: center; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    padding: 5% 3%;
    border-radius: 30px;
    max-height: 280px;
    color: white;
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 100px;
    margin: 150px auto 0 auto; /* Centraliza horizontalmente */
    text-align: center;
    padding-left: 50px;
    max-width: 800px;
}

.topo-content {
    text-align: right; /* Alinha o texto à direita */
    margin-right: 20px; /* Espaçamento entre o texto e a imagem */
}

.topo-title {
    font-size: 60px;
    letter-spacing: 1.5;
}

.topo-desc {
    font-size: 14px;
    letter-spacing: 1;
}

.img {
    max-width: 300px; /* Ajuste o tamanho da imagem conforme necessário */
    margin-left: 50px;
}

.img img {
    width: 100%;
    height: auto;
}

.faq{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 3%;
}

.faq-name{
    flex: 0.5;
    padding: 2% 2% 0 0;
}

.faq-top{
    padding: 5% 0 0 0;
    font-size: 40px;
    letter-spacing: 2;
}
.faq-img{
    width: 100%;
    max-width: 300px ;
}

.faq-box{
    flex: 1;
    min-width: 320px;
    padding: 2% 0 4% 4%;
    border-left: 2px solid #2118CD;
}

.faq-wrapper{
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid black;
}

.faq-title{
    display: block;
    position: relative;
    width: 100%;
    letter-spacing: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #2118CD;
}

.faq-title:after{
    width: 10px;
    height: 10px;
    content: "";
    float: right;
    border-style: solid;
    border-width: 2px 2px 0 0 ;
    transform: rotate(135deg) ;
    transition: 0.4s ease-in-out;
}

.faq-detail{
    line-height: 1.5;
    letter-spacing: 1;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    font-size: 14px;
}

.faq-trigger{
    display: none;
}

.faq-trigger:checked + .faq-title + .faq-detail{
    max-height: 300px ;

}

.faq-trigger:checked + .faq-title::after{
    transform: rotate(45deg);
    transition: 0.4s ease-in-out;

}
.modal {
    z-index: 1050; /* Z-index do modal deve ser maior que o cabeçalho */
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima da tela */
}

.modal-header {
    border-bottom: none; /* Remove a borda inferior do cabeçalho do modal */
}

.modal-footer {
    border-top: none; /* Remove a borda superior do rodapé do modal */
}
/* Estilos da logo na header */
.logo {
    width: 200px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    display: block;
    margin-right: 20px; /* Espaçamento entre a logo e os outros itens */
}