body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-prc {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 85px; /* Altura do header ajustada */
    width: 100%; /* Largura do header ajustada */
    background-color: #2118CD;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra no menu superior */
    box-sizing: border-box;
    justify-content: space-around;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center; /* Centraliza a logo horizontalmente no espaço destinado */
    align-items: center;
}

.logo {
    max-height: 237.85px; /* Altura da logo ajustada */
    max-width: 300px;  /* Largura da logo ajustada */
    padding-top: 30px;
}

.search-bar {
    flex: 2;
    text-align: center;
}

.search-bar input {
    width: 300px;  /* Largura da barra de pesquisa ajustada */
    height: 15px;  /* Altura da barra de pesquisa ajustada */
    padding: 8px;
    border-radius: 9.75px; /* Cantos arredondados com 9.75px */
    border: 1px solid #ccc;
}

.links {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Alinha os links no canto direito */
    gap: 15px; /* Espaçamento entre os links */
    margin-right: 250px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 49px;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra no menu */
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 100px;
    margin-top: 500px; /* Aumenta o espaço acima do conteúdo para 100px */
}

#corpo {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color:  rgba(0, 0, 0, 0.6);
}
#input{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#nome-sobrenome{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-top: 30px;
    border: none;
    
}

#email-senha{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 375px;
  padding-top: 30px;
  border: none;
  
}

#button{
    background-color: #00DB09;
    width: 300px;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 25px;
}

.grid-duplo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    }
    
    .esquerda { grid-area: 1 / 1 / 2 / 2; }
    .direita { grid-area: 1 / 2 / 2 / 3; }