body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-prc {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 85px; /* Altura do header ajustada */
    width: 100%; /* Largura do header ajustada */
    background-color: #2118CD;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra no menu superior */
    box-sizing: border-box;
    justify-content: space-around;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center; /* Centraliza a logo horizontalmente no espaço destinado */
    align-items: center;
}

.logo {
    max-height: 237.85px; /* Altura da logo ajustada */
    max-width: 300px;  /* Largura da logo ajustada */
    padding-top: 30px;
}

.search-bar {
    flex: 2;
    text-align: center;
}

.search-bar input {
    width: 300px;  /* Largura da barra de pesquisa ajustada */
    height: 15px;  /* Altura da barra de pesquisa ajustada */
    padding: 8px;
    border-radius: 9.75px; /* Cantos arredondados com 9.75px */
    border: 1px solid #ccc;
}

.links {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Alinha os links no canto direito */
    gap: 15px; /* Espaçamento entre os links */
    margin-right: 250px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 49px;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra no menu */
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;  /* Transição suave */
}
/* Estilo para links restritos */
.menu a.restricted {
color: gray; /* Cor cinza para links restritos */
pointer-events: none; /* Desabilita eventos de clique */
cursor: not-allowed; /* Muda o cursor para indicar que a ação não é permitida */
}
 
/* Efeito de hover no menu */
.menu a:hover {
    color: #2118CD;  /* Cor do texto ao passar o mouse */
    border-radius: 5px;  /* Cantos arredondados */
}

.grid-duplo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}
    
.esquerda { grid-area: 1 / 1 / 2 / 2; }
.direita { grid-area: 1 / 2 / 2 / 3; }

.esquerda{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.direita{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

#button-esquerda{
    width: 350px;
    height: 50px;
    background-color: #2118CD;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 20px;
}

.button-container {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    margin-top: -20px;  /* Ajusta a margem superior para mover o botão para cima */
}

#button-direita{
    width: 350px;
    height: 50px;
    background-color: #00DB09;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
}

#checar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#checa {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
}

#input-email {
    display: block;
    margin: 25px auto 0;
    width: 400px;
    height: 35px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
}

#input-senha {
    display: block;
    margin: 25px auto 0;
    width: 400px;
    height: 35px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
}

#cadastro, #login {
    width: 100px;
}

.modal {
    display: none; /* O modal é ocultado por padrão */
    position: fixed; /* Posiciona o modal fixamente na tela */
    z-index: 1; /* Garante que o modal fique acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Tamanho total da tela */
    height: 100%;
    overflow: auto; /* Adiciona rolagem se o conteúdo for muito grande */
    background-color: rgba(0,0,0,0.4); /* Fundo semitransparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal vertical e horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Ajuste a largura conforme necessário */
    text-align: center; /* Centraliza o conteúdo do modal */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar o modal */
    border-radius: 8px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px; /* Espaçamento entre a mensagem de erro e o botão */
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal button {
    background-color:#2118CD;

    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #2118CD;
}
