@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom left, #e0f7ff, #ffffff);
}

.container {
    flex-grow: 1; /* Faz a área de parâmetros ocupar o espaço restante */
    padding: 40px; /* Aumenta o padding ao redor da área de parâmetros */
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    margin-left: 220px; /* Espaço para a sidebar */
    height: calc(100vh - 100px);
}

h1 {
    color: #2118CD; /* Cor do título */
    margin-bottom: 30px; /* Aumenta o espaço abaixo do título */
    font-size: 24px; /* Aumenta o tamanho da fonte do título */
    font-weight: 600; /* Fonte mais pesada para destaque */
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Faz o formulário ocupar toda a largura do contêiner */
    max-width: 400px; /* Define uma largura máxima para o formulário */
    padding: 20px; /* Padding interno do formulário */
    color: white;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333; /* Cor do texto */
}

input[type="number"] {
    width: 100%;
    padding: 12px; /* Aumenta o padding interno */
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Borda cinza */
    transition: border-color 0.3s; /* Transição suave para a borda */
}

input[type="number"]:focus {
    border-color: #2118CD; /* Borda azul ao focar */
    outline: none; /* Remove a borda padrão ao focar */
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 12px 20px; /* Aumenta o padding dos botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Destaca o texto dos botões */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.save-button {
    background-color: #2118CD; /* Cor de fundo do botão salvar */
    color: white;
}

.save-button:hover {
    background-color: #1a14a6; /* Cor ao passar o mouse */
}

.clear-button {
    background-color: #f44336; /* Cor de fundo do botão limpar */
    color: white;
}

.clear-button:hover {
    background-color: #d32f2f; /* Cor ao passar o mouse */
}