body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom left, #e0f7ff, #ffffff);
}

.header-prc {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 85px;
    width: 100%;
    background-color: #2118CD;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    justify-content: space-around;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 250px;
}


.search-bar {
    flex: 2;
    text-align: center;
}

.search-bar input {
    width: 300px;
    height: 15px;
    padding: 8px;
    border-radius: 9.75px;
    border: 1px solid #ccc;
}

.links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 250px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 49px;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo no topo */
    height: auto; /* Remove a altura fixa para que o conteúdo se ajuste */
    padding: 0 100px;
    margin-top: 20px; /* Reduz o espaço acima do conteúdo para aproximar do cabeçalho */
    margin: auto;
}

#corpo {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px; /* Reduz o espaço acima do conteúdo para aproximar do cabeçalho */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

#input {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#nome-sobrenome {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-top: 30px;
    border: none;
}

#email-senha {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 375px;
    padding-top: 30px;
    border: none;
}

#button {
    background-color: #00DB09;
    width: 300px;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 25px;
    cursor: pointer;
}

#button:hover {
    background-color: #00b300;
}

.title-container {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha o botão e o título no centro verticalmente */
    flex-direction: column; /* Faz com que o botão fique abaixo do título */
    margin-bottom: 20px; /* Espaçamento entre o título/botão e a tabela */
}

.title-container h2 {
    margin-bottom: 10px; /* Espaço entre o título e o botão */
    text-align: center;
}

.table-container {
    display: flex;
    flex-direction: column; /* Faz com que os itens sejam dispostos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.table-container h2 {
    margin-bottom: 10px; /* Espaço entre o título e o botão */
    text-align: center;
}
.title-container {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha o botão e o título no centro verticalmente */
    flex-direction: column; /* Faz com que o botão fique abaixo do título */
    margin-bottom: 20px; /* Espaçamento entre o título/botão e a tabela */
}

.title-container h2 {
    margin-bottom: 10px; /* Espaço entre o título e o botão */
    text-align: center;
}

.btn-adicionar {
    background-color: #2118CD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Espaço entre o botão e a tabela */
    margin-left: 10px;
}

.btn-adicionar:hover {
    background-color: #1a139d;
}
.table-container {
    display: flex;
    flex-direction: column; /* Faz com que os itens sejam dispostos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center;
    width: 100%;
    margin-top: 80px; /* Espaço acima para dar distância do header */
    padding-left: 20px;
    margin-right: 120px;
}

.table-container h2 {
    margin-bottom: 10px; /* Espaço entre o título e o botão */
    text-align: center;
}


.tabela-registros {
    width: auto; /* Mantém a largura da tabela de acordo com o conteúdo */
    border-collapse: collapse;
    table-layout: auto;
    margin-left: 50px;
}


.tabela-registros th {
    background-color: #2118CD;
    color: white;
    padding: 12px 15px;
    text-align: center;
    white-space: nowrap;
}

.tabela-registros td {
    padding: 10px;
    background-color: #fafafa;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; 
}


.actions {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
    white-space: nowrap;
}

.btn-editar, .btn-excluir {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
}

.form-filtro {
    display: flex;
    gap: 10px; /* Espaçamento entre o input e o botão de filtro */
    margin-bottom: 20px; /* Espaçamento abaixo do formulário de filtro */
}

.form-filtro input[type="text"] {
    width: 300px; /* Aumenta a largura da caixa de pesquisa */
    padding: 10px; /* Aumenta o espaçamento interno */
    font-size: 16px; /* Ajusta o tamanho do texto */
    border: 1px solid #ccc; /* Estilo da borda */
    border-radius: 5px; /* Deixa os cantos arredondados */
}


.btn-editar {
    background-color: #2118CD;
    color: white;
}

.btn-excluir {
    background-color: #dc3545;
    color: white;
}

.btn-editar i, .btn-excluir i {
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.save-button,
.clear-button {
    background-color: #2118CD;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

.clear-button {
    background-color: #f44336; /* Cor vermelha para o botão Limpar */
}

.save-button:hover,
.clear-button:hover {
    opacity: 0.8;
}

/* Modal */
body.modal-open {
    overflow: hidden; /* Remove a barra de rolagem */
    position: fixed; /* Evita a rolagem da página */
    width: 100%;
}
/* Modal sempre visível */
.modal {
    display: block; /* Torna o modal visível por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo com transparência */
    overflow: hidden; /* Remove barra de rolagem do modal */
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Botão de fechar */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.success-message {
    color: #2118CD;
}
.error-message {
    color: red;
}

.actions {
    display: flex;
    justify-content: flex-end; /* Alinha os ícones no lado direito */
    gap: 10px; /* Espaçamento entre os ícones */
}

.edit-button, .delete-button {
    color: #333;
    text-decoration: none;
}

.edit-button:hover, .delete-button:hover {
    color: #007BFF; /* Cor ao passar o mouse */
}
/* Sidebar e layout do conteúdo principal */
.d-flex {
    display: flex;
}


.sidebar-header h4 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: none;
}

.components {
    padding-left: 0;
}

.components hr {
    margin: 10px 0;
    border-color: black;
}

#sidebar .components a {
    color: #343a40;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    font-weight: 500;
    text-align: center;
}

#sidebar .components a:hover, 
#sidebar .components a.active {
    background-color: #2118CD;
    color: #fff;
    border-radius: 5px;
}

/* Conteúdo principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

.container {
    width: 100%;
    height: 100%;
}

.encima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
}

.enbaixo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
}

.enbaixo img {
    max-width: 45%;
    height: auto;
    width: 400px;
}

#pesquisa {
    margin-top: 50px;
    width: 900px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
}

#titulo {
    font-size: 40px;
}

p {
    display: flex;
    justify-content: center;
}

hr {
    color: black;
}
/* Modal */

.horizontal-answers {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

.vertical-answer {
    margin-top: 15px;
    text-align: left;
}

.question-container {
    margin-bottom: 20px;
    text-align: left;
}

.highlight-question {
    font-size: 1.5rem; /* Larger font size for prominence */
    font-weight: bold;
    color: black; /* Highlighted in black */
}

.question-field {
    width: 100%; /* Takes the full width */
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
}

.details-container {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.close-btn {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

.modal-body {
    margin-top: 20px;
}

.button-container {
    margin-top: 20px;
}

.btn-delete,
.btn-cancel {
    background-color: #2118CD;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

.btn-cancel {
    background-color: #e74c3c; /* Vermelho para Cancelar */
}

.btn-delete:hover,
.btn-cancel:hover {
    opacity: 0.8;
}

.modal-body p {
    margin: 0;
}

/* Estilos específicos para o botão de fechar no modal de erro */
.modal-erro .close-btn {
    color: #e74c3c; /* Cor vermelha para o botão de fechar no modal de erro */
}

.modal-erro .close-btn:hover,
.modal-erro .close-btn:focus {
    color: #c0392b; /* Cor vermelha mais escura no hover e focus */
}

/* Estilos específicos para o modal de erro */
.modal-erro p {
    color: #e74c3c; /* Texto em vermelho para erro */
    font-weight: bold;
    margin-bottom: 20px; /* Espaçamento entre a mensagem de erro e o botão */
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Botão de OK com estilo quadrado */
.modal-erro .ok-btn-erro {
    background-color: #2118CD; /* Botão azul para erro */
    color: white;
    width: 60px; /* Largura fixa para tornar o botão quadrado */
    height: 40px; /* Altura fixa para tornar o botão quadrado */
    padding: 0; /* Remove o padding para garantir que o botão seja quadrado */
    border-radius: 5px; /* Arredonda as bordas do botão */
    border: none;
    cursor: pointer;
    font-size: 14px; /* Ajusta o tamanho da fonte */
    display: flex;
    align-items: center; /* Centraliza o texto verticalmente */
    justify-content: center; /* Centraliza o texto horizontalmente */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilo do botão OK quando hover */
.modal-erro .ok-btn-erro:hover {
    background-color: #2980b9; /* Cor um pouco mais escura para o hover */
}

/* Estilos específicos para o modal de sucesso */

/* Estilos específicos para o botão de fechar no modal de sucesso */
.modal-sucesso .close-btn {
    color: #2118CD; /* Cor azul para o botão de fechar no modal de sucesso */
}

.modal-sucesso .close-btn:hover,
.modal-sucesso .close-btn:focus {
    color: #1a14a6; /* Cor azul mais escura no hover e focus */
}

.modal-sucesso p {
    color: #2118CD; /* Texto em azul para sucesso */
    font-weight: bold;
    margin-bottom: 20px; /* Espaçamento entre a mensagem de sucesso e o botão */
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Botão de OK com estilo quadrado */
.modal-sucesso .ok-btn-sucesso {
    background-color: #2118CD; /* Botão azul para sucesso */
    color: white;
    width: 60px; /* Largura fixa para tornar o botão quadrado */
    height: 40px; /* Altura fixa para tornar o botão quadrado */
    padding: 0; /* Remove o padding para garantir que o botão seja quadrado */
    border-radius: 5px; /* Arredonda as bordas do botão */
    border: none;
    cursor: pointer;
    font-size: 14px; /* Ajusta o tamanho da fonte */
    display: flex;
    align-items: center; /* Centraliza o texto verticalmente */
    justify-content: center; /* Centraliza o texto horizontalmente */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilo do botão OK quando hover */
.modal-sucesso .ok-btn-sucesso:hover {
    background-color: #1a14a6; /* Cor um pouco mais escura para o hover */
}

.custom-hr {
    border: none;
    height: 2px;
    background-color: #000000; /* Preto absoluto */
    margin: 5px 0;
}

.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #2118CD;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover,
.pagination li.active a {
    background-color: #2118CD;
    color: white;
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1055 !important;
}

.btn-ver-mais {
    text-decoration: none;
    font-size: 12px;
    color: #0056b3;
    padding: 2px 6px;
    border: 1px solid #0056b3;
    border-radius: 4px;
    background-color: #f8f9fa;
    transition: all 0.2s ease-in-out;
}


.btn-ver-mais:hover {
    background-color: #0056b3;
    color: white;
    border-color: #0056b3;
}

